{{>nav-publication}}
{{>navigation-bar}}

<div class="container mt-4">
    <div class="row">
        <div class="col-3 addScroll">
            {{>model-user-chat-list}}
        </div>
        <div class="col-1"></div>
        <div class="col-8">
            {{#if user}}
            <div class="d-flex justify-content-center align-items-center top-bar-chat">
                <div class="target-chat-image-name p-2">
                    <img class="rounded-circle" src="/img/user/{{user.profile_image}}" alt="">
                    <p>{{user.userName}}</p>
                </div>
            </div>
            <div class="content-chat">
                {{ messages }}
                {{#each allMessage.messages}}
                    <div class="message-{{this.who}}-chat"><p>{{this.message}}</p></div>
                    <i class="chat-time-{{this.who}}">{{this.time}}</i>
                {{/each}}
            </div>

            <div class="input-group mt-3">
                <input type="hidden" id="chatReceptor" value="{{user.userName}}">
                <input type="text" class="form-control" placeholder="Write a message ... " id="input-chat-text-message">
                <button class="btn btn-outline-secondary" id="btn-chat-send-message">Send</button>
            </div>

            {{else}}
            <div class="bg-primary" height="700px" width="700px">

            </div>
            {{/if}}
        </div>
    </div>
</div>

