{{>nav-publication}}
{{>navigation-bar}}

<div class="container">
    <div class="row d-flex justify-content-center mt-5 mb-5">
        <div class="col-12 d-flex justify-content-center gap-4 container-data-profile p-3">
            <img class="rounded-circle bg-primary" src="/img/user/{{this.user.profile_image}}" alt="" width="200px"
                height="200px">
            <div class="d-flex flex-column align-self-center">
                <p class="d-flex justify-content-center text-center fs-1">{{user.userName}}</p>
                <div class="d-flex flex-column justify-content-center bg-light rounded mb-4 ps-3 pe-3" style="width: min-content; margin: 0 auto;">
                    <p class="text-center">Publicaciones</p>
                    <p class="text-center">{{publications.length}}</p>
                </div>
                <div class="d-flex gap-2 align-items-center">
                    <a href="/chat/{{user._id}}"><button class="btn btn-primary">Enviar Mensaje</button></a>
                    <input type="checkbox" class="btn-check" id="btn-seguir" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btn-seguir" id="label-btn-seguir">Seguir</label><br>
                    <input type="hidden" name="" value="{{user.userName}}" id="hiddenUserName">
                </div>
            </div>
        </div>
    </div>

    <div class="row grid-profile">
        {{#each publications}}
        <div class="col grid-profile-item">
            <img src="/img/post/{{this.image}}" alt="" height="300px">
        </div>
        {{/each}}
    </div>
</div>

<script>

    const hiddenUserName = $("#hiddenUserName").val()

    $.ajax({
        url: "/lesigue",
        method: "POST",
        data: { otherUserName: hiddenUserName },
        success: (res) => {
            const rst = res.rst
            if (rst) {
                $("#label-btn-seguir").text("Siguiendo")
                $("#btn-seguir").prop("checked", true)
            }
        },
        error: () => {
            alert("error")
        }
    })
</script>