<div class="container">
    {{#each publications}}
    <div class="row mt-5 divPublication">
        <div class="col-12">
            <div class="d-flex align-items-center ms-2">
                <a href="/otherProfile/{{this.user._id}}"><img class ="img-thumbnail rounded-circle" src="/img/user/{{this.user.profile_image}}" alt="person" width="50px" height="50px" class="rounded-circle"></a>
                <p class="fs-4 ms-2 mt-3">{{this.user.userName}}</p>
            </div>
        </div>
        <div class="col-12">
            <p class="fs-6 ms-2">{{this.description}}</p>
        </div>
        <div class="col-10">
            <div class="d-flex align-items-center">
                <img class="img-fluid img-publication" src="/img/post/{{this.image}}" alt="">
            </div>
        </div>
        <div class="col-2 separacion">
            <div class="divIcons__like"></div>
            <div class="divIcons__comment"></div>
            <div class="divIcons__rack"></div>
        </div>
    </div>
    {{/each}}
</div>